body{
    font-family: 'Montserrat', sans-serif;
    margin :0;
    background-color: rgba(230, 230, 235, 255);


    color:white;
    /* overflow: hidden; */

}.card{
    width:583px;
    border-radius: 10px;
    margin:10px;
    color:black;
    background-color: white;
    height:540px;
    padding-bottom: 9px;


}
img{
    width:100%;
    border-top-right-radius: 3%;
    border-top-left-radius:3%;
    

}
h3{
    text-align: center;
    
}
 #jerry{
    padding: 0 0 30px 0;
    font-size:small;
}
#pets{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

@media only screen and (max-width: 360px) {
 .main-heading{
    height:700px;;
        
  }
}
.main{
    display:flex;
    height:100vh;
   
    

    
}
.menu-bar{
    background: black;
    position:fixed;
    top:0;
    width:100%;
    height: 90px;
    margin-bottom: 2rem;
    
   

}
.main-content{
    flex:1;
    background-color: rgba(230, 230, 235, 255);
    overflow: auto;
    
    


    
    
}

 .space{
    height:30px;
    
}
.top-bar{
    background-color: rgba(230, 230, 235, 255);
    height:70px;
    display:flex;

   
}
.nav-bar{
    background:#6504b5;
    height:20px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem 1rem 0;
    
}
.first{
    background: white;
    width: 1100px;
    margin-right:5px ;
    padding:1rem 0rem 0.4rem 6rem;
    display: flex;
}
.second{
    background:white;
    flex:1;
    padding: 1.5rem 2rem 2rem 2rem;
    flex-wrap: wrap;

}
.img{
    height:40px;
    width: 40px;
    
}
span{
    color: #6504b5;
    font-family: cursive;
    font-weight:900;
    text-align: center;

}
.second a{
    text-decoration: none;
    color:grey;
    font-weight: 600;
}
.two{
    margin-left:1.5rem;
}
.nav-bar a{
    text-decoration: none;
    color :white;
    font-weight: 400;
    list-style: none;
    
    
}
.nav-bar a:hover{
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
}
   
    
 .bgimage{
        background-image: url("vecteezy_playful-puppy-and-kitten-sitting-outdoors-enjoying-nature_25188627.jpg");
        height: 65vh;
         background-size: max(1200px, 100vw); 
        background-repeat:no-repeat ;
    
        
    }
    .main-box{

        height:65vh;
        width: 100%;
         margin-top: 150px; 
      
    }

.second a:hover{
    color:#6504b5;
    cursor: pointer;
}
.dogcat-img{
    height:90vh;
}

    

    
    

#heart{
    margin-left: 250px;
    color: grey;
    margin-top:10px;

    
}
 input.text{
    appearance: none;
   margin-top: 50px;
    
    height: 50px;
    width: 700px;
    color:grey;
    cursor:pointer;
    border-radius:5px ;
    margin-left: 5rem;

}

.border{
    background-color: #6504b5;
    top: 0;
    height: 10px;
}
h1{
    font-size: 65px;
}
.box p{
    font-size: 20px;
    font-weight: 600;
    margin-top: -34px;
}
.box{
    display:flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
#main-nav{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}


.nav-bar{
display: flex;


}
.nav-bar .nav-m{
    margin-left: 90px;
    
}
.four-cards{
    width:200px;
    height:250px;
    display: inline-block;
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
    
    
}

.imgDC{
    width:100%;
    border-radius: 5px 5px 0 0;

}
.four-cards:hover{
    box-shadow: 0 8px 18px black;
    
}
#leo{
    width:100%;
    border-radius:5px 5px 0 0;
    height:200px

}
#finni{
    width:100%;
    border-radius:5px 5px 0 0;
    height:200px
}
.des{
    padding:4px 2px 0 2px;
    color:#6504b5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.petsss{
    padding: 50px 0 0 190px;
    
}
.petss{
    display:flex;
    justify-content: center;
    margin-top: 160px;
    flex-wrap: wrap;
}
#anchor:hover{
         opacity: 0.6;
}
.main-heading{
    background-color: white;
    height:650px;
    margin-top:40px;
    margin-bottom: 50px;

    
}
.heading{
    color:black;
    padding-bottom:40px;
    padding-top: 60px;
    font-size: xx-large;

}
.adopters{
    
    height:340px;
    width:395px;
    
    
}
.resources{
    
    height:340px;
    width:395px;
    
    
}
.Faqs{
    
    height:340px;
    width:395px;
    
    
}
.main-ofthree{
    height:400px;
    display:flex;
    padding: 0px 60px 0 60px;
    justify-content: space-between;
    
    
    
}
#head{
    font-weight: 550;
    font-size: larger;
    text-align: center;
}
#para{
    text-align: center;
    margin-top: 30px;
    margin-bottom:60px ;
    font-size: 13px;
    font-weight: 500;
}
#button{
    text-decoration: none;
    margin-left:100px;
    border: 2px solid #6504b5;
    font-weight: 600;
    padding :10px 40px;
    border-radius: 25px;
    color:#6504b5;
    background-color:white ;

}
.adopters:hover #button{
    background-color: #6504b5;
    color:white;
    transition: 0.3s;
}
.resources:hover #button{
    background-color: #6504b5;
    color:white;
    transition: 0.3s;

}
.Faqs:hover #button{
background-color: #6504b5;
color:white;
transition: 0.3s;
}
#tom{
    color:#6504b5;

    text-decoration: none;
    width:200px;
    font-weight: 700;
    padding :10px 239px;
    border-radius: 0 0 3% 3%;

}
.card:hover #tom{
    background:#6504b5;
    color:white;
}
.footer{
    background: #3a0664;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;

}
.line{
    
    width:100%;
    height:30px;
    text-align: center;
    padding: 5px 0 0 0;
    font-size: x-small;
    background:rgba(255, 0, 0, 0.715);
    margin-top: 300px;

}
.icons{
    background: #3a0664;
    height:400px;
    display:flex;
    

}
.boxxxx{
    background: white;
    height:200px;
    width: 350px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 70px;
    

    


}
#PA{
    color:#6504b5;
    text-align: center;
    padding: 40px 20px 40px 20px;
    font-size: smaller;
    margin-top: 0;
}
#A{
    color:white;
    background: #6504b5;
    text-decoration: none;
    width:200px;
    border-radius: 25px;
    padding:10px 80px 10px 80px;
    margin-left: 60px;
    font-weight: 600;


}
#A:hover{
    background-color: #6504b56b;
    color:#6504b5;
    

}
.social_media i{
    color:white;
    font-size:x-large;
    margin-left: 25px;
    margin-top: 20px;
    
}
.social_media{
    margin-top: 130px;
    background-color: #0f021a;
    height: 50px;
}
    
.social_media i:hover{
    opacity: 0.6;
}

    


.llll{
    display:flex;

}
.list-two {
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
    
    
}
.list-two a{
    text-decoration: none;
    color:rgba(200, 200, 205, 255);
    font-size: small;
}
.list-two a:hover{
    text-decoration: underline;
    opacity: 0.6;
}






/* SHELTER PAGE*/

.search{
    height:260px;
    width: 50%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
    margin-top: 30px;

}
.search #para{
    color:#4D4751;
    text-align: left; 
    margin-top:30px;
}
h2{
    color:#4D4751;
}
input{
    height: 50px;
    width: 430px;
    color:grey;
    cursor:pointer;
    border-radius:5px ;
    margin-left: 1rem;
    border:1px solid  grey;
}
#butt{
    text-decoration: none;
    border: 2px solid #6504b5;
    font-weight: 600;
    padding :10px 40px;
    border-radius: 25px;
    background-color:#6504b5;
    color:white ;
    margin-left: 1rem;
}

.shelter{
    height:230px;
    width:75%;
    background-color: white;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
    margin-top: 30px;
    display:flex;


}
section{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    padding: 30px 20px 30px 130px;
    
}
.Main{
    height:100vh;
    overflow-y: scroll;

    
}
.image{
    width:150px;
    height: 50px;
    margin-top: 2rem;
}
.infor i{
    color:#4D4751;
}
h4{
    color:#6504b5;
}
.infor{
    margin-left: 60px;
}
#buttn{
    text-decoration: none;
    border: 2px solid #6504b5;
    font-weight: 600;
    padding :5px 25px;
    border-radius: 25px;
    color:white;
    background-color:#6504b5 ;

}

/* @media  screen and (max-width : 875px){
    section{
        display:grid;
        grid-template-columns: 1fr  ;
        padding: none;
    
}
  #butt{
    margin-top: 30px;
  }
  .search #para{
    margin-top: none;
  }
}
@media  screen and (max-width : 450px){
    section{
        display:grid;
        grid-template-columns: 1fr  ;
        padding: 30px 20px 30px 10px;
        display:flex;
        flex-wrap: wrap;
    
}
} */
